

.mypost {
    width: 60%;
    margin: 0 auto;
    padding: 10px 30px;
    

}

.mypost input{
    display: block;
    margin: 10px 0;
}

.mypost  label {
    width: 100%;
    display: block;
    padding: 10px 0;
}
.mypost  input , .mypost  textarea ,
.mypost   select {
    width: 100%;
    padding: 15px 20px;
}

.mypost  textarea{
    height: 300px;
}


.mypost  button{
    width: 100%;
    padding: 15px 0;
    margin-top: 15px ;
    background: #111;
    color: #fff;
    border: 1px solid #111;
    font-size: 18px;
}



/* Blog Page Design  */


.container {
    width: 70%;
    margin: 50px auto;

}
.container .articles {
    display: flex;
    margin: 50px 0 ;
    gap: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 30px;
    align-items: center;

}
.container .articles .postarea{
    width: 50%;

}

.container .articles .postarea h2, .container .articles .postarea h3 , .container .articles .postarea p{
    padding: 10px 0;
}

.container .articles .postarea p{
    line-height: 25px;
}

.container .articles .postimage{
    width: 50%;
    border: 1px solid;
    height: 350px;
}
.container .articles .postimage img{
    width: 100%;
    height: 100%;
}



/* post buttons edit */
.container .articles .postarea  button{
    border: 0;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
    transition: 0.5s ease;
    margin: 0 5px;
}


.container .articles .postarea  button.view{
    background: skyblue;
    border: 1px solid skyblue;
    transition: background-color 0.3s ease;
}

.container .articles .postarea button.view:hover {
    background: transparent;
    color: skyblue; /* Optional: change text color to match the border */
}

.container .articles .postarea  button.edit{
    background: green;
    border: 1px solid green;
    transition: background-color 0.3s ease;
}
.container .articles .postarea button.edit:hover {
    background: transparent;
    color: green; /* Optional: change text color to match the border */
}


.container .articles .postarea  button.del{
    background: red;
    border: 1px solid red;
    transition: background-color 0.3s ease;
}


.container .articles .postarea  button.del:hover{
    background: transparent;
    color: red; /* Optional: change text color to match the border */
}

/* post-details-container */

.post-details-container{
    width:60%;
    margin: 50px auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   padding: 25px;
}

.post-details-container h1 , .post-details-container h2 , .post-details-container p{
    margin: 25px 0;
}

.post-details-container p{
    line-height: 30px;
}

.post-details-container img{
    width: 100%;
}